@import "vars";
@import "modal_windows";
@import "trending";
@import "side-nav";
@import "pagination";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-blue;
}

.wrapper-main {
  margin: 30px;

  @media screen and (max-width: 376px) {
    margin-top: 10px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 15px;
  }
  .modal-backdrop {
    z-index: 5;
  }
  .titleRecom {
    @include heading-L;
    margin-bottom: 30px;
    padding: 10px;

    @media screen and (max-width: 376px) {
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      margin-bottom: 10px;
    }
  }

  .container-main {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    align-content: center;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 376px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .movieCard {
      width: 80%;
      border-radius: 10px;
      padding: 10px;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }

      .movieCover {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 10px;
        &:hover {
          box-shadow: 0 0 20px rgba(143, 143, 143, 0.5);
        }
      }

      .movieInfo {
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include text-S;

        .movieYear,
        .movieCategory,
        .movieRating {
          display: inline-block;
          position: relative;
          margin-right: 25px;

          &:last-child {
            margin-right: 0;
          }
          @media screen and (max-width: 768px){
            margin-right: 14px;
          }
          @media screen and (max-width: 376px) {
            margin-right: 12px;
          }
        }

        .movieCategory::before {
          content: url("/assets/icon-category-tv.svg");
          margin-right: 5px;
        }

        .movieYear::after,
        .movieCategory::after {
          content: "●";
          position: absolute;
          margin-left: 5px;
          top: 50%;
          transform: translateY(-50%);
          @media screen and (max-width: 768px){
            content: none;
          }
        }

        .movieYear::after {
          left: 35px;
        }

        @media screen and (max-width: 768px) {
            .movieCategory::before {
              display: none;
            }
          }
      }

      .movieTitle {
        margin: 15px 0;
        text-align: center;
        @include heading-XS;
        @media screen and (max-width: 376px) {
          margin-top: 7px;
          @include text-S;
          color: $title;
        }
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .searchForm {
    display: flex;
    gap: 24px;
    .searchButton {
      img {
        @media screen and (max-width: 376px) {
          width: 24px;
          height: 24px;
        }
      }
    }
    .inputSearch {
      width: 100%;
      font-family: "Outfit", sans-serif;
      font-weight: 300;
      font-size: 24px;
      background-color: $dark-blue;
      @media screen and (max-width: 376px) {
        font-size: 16px;
      }
      border: none;
      color: white;
      border-bottom: 1px solid transparent;
      &:focus {
        outline: none;
        border-bottom: 1px solid #979797;
        caret-color: $red;
      }
    }
  }
}
.notFoundText {
  @include text-M;
  padding: 10px;
}
