/* Стили для Trends */
.trendingTitle {
  color: rgb(255, 255, 255);
  font-family: Outfit;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.5px;
  text-align: left;
}

.trendingMovies {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .trendingMoviesContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    height: 295px;
  }

  .movieCardNew {
    flex: 0 0 auto;
    margin-right: 10px;
    position: relative;
    width: 470px;
    height: 230px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    .bookmarkContainer {
      position: absolute;
      top: 20px;
      right: 30px;
      background: rgb(16, 20, 30);
      opacity: 0.5;
      width: 32px;
      height: 32px;
      border-radius: 20px;
      z-index: 1;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      .bookmarkIcon {
        width: 12px;
        height: 14px;
      }
    }
  }

  .movieInfoNew {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .movieCoverNew {
    position: relative;
    border-radius: 10px;
    &:hover {
      box-shadow: 0 0 20px rgba(143, 143, 143, 0.5);
    }
  }
}

/* Стили для Trends */
