.trendingTitle {
  @include heading-L;
  margin-bottom: 30px;
  padding: 10px;
  @media screen and (max-width: 376px) {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 10px;
  }
}

.trendingMovies {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 20px;
  @media screen and (max-width: 376px) {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .trendingMoviesContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: auto;
    height: auto;

    .movieCardNew {
      width: 100%;
      margin-right: 10px;
      position: relative;
      width: 470px;
      height: auto;
      border-radius: 10px;
      padding: 10px;
      display: inline-block;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
      @media screen and (max-width: 376px) {
        width: 240px;
        height: 140px;
      }

      .playButton {
        display: none;
        position: absolute;
        background-image: url("./assets/icon-play.svg");
        background-position: 0.7rem center;
        background-repeat: no-repeat;
        width: 7rem;
        height: 2.5rem;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.314);
        @include heading-XS;
        padding: 10px 20px;
        border: none;
        border-radius: 3rem;
        cursor: pointer;
        text-align: end;
      }
      .movieInfoNew {
        position: absolute;
        bottom: 30px;
        left: 25px;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        z-index: 1;
        @media screen and (max-width: 376px) {
          bottom: 5px;
        }
        .title {
          margin-top: 10px;
          @include heading-S;
          @media screen and (max-width: 376px) {
            margin-top: 7px;
            @include text-S;
            color: white;
          }
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .year,
        .category,
        .rating {
          display: inline-block;
          position: relative;
          margin-right: 20px;
          @include text-M;
          @media screen and (max-width: 376px) {
            margin-right: 12px;
            @include text-S;
          }
        }

        .rating {
          margin-right: 0;
        }
        .category::before {
          content: url("/assets/icon-category-tv.svg");
          margin-right: 5px;
        }
        .category::after,
        .year::after {
          content: "•";
          position: absolute;
          margin-left: 10px;
          top: 50%;
          transform: translateY(-50%);
          @media screen and (max-width: 376px) {
            margin-left: 5px;
          }
        }
      }
    }
    .movieCoverNew {
      position: relative;
      width: 100%;
      height: auto;
      border-radius: 10px;
      &:hover {
        box-shadow: 0 0 20px rgba(143, 143, 143, 0.5);
      }
    }
    .bookmarkContainer {
      position: absolute;
      top: 20px;
      right: 30px;
      background: rgb(16, 20, 30);
      opacity: 0.5;
      width: 32px;
      height: 32px;
      border-radius: 20px;
      z-index: 1;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      .bookmarkIcon {
        width: 12px;
        height: 14px;
      }
    }
  }
}
